<h2 class="tourney-title">
  Tourney #{{id}}
  <span class="label label-success active" title="Been there">+1</span>

  <small class="tourney-meta pull-right">
    <b>{{players.length}}</b> Players / <b>{{teams.length}}</b> Teams
  </small>
  <small class="nowrap">{{date}}</small>
</h2>

<ul class="nav nav-pills gap-lg">
  <li {{bind-attr class="highlightedTeam::active"}}>
    <a href="#" {{action highlight}}>Overview</a>
  </li>
  {{#each teams itemController='team'}}
    <li {{bind-attr class="isHighlighted:active"}}>
      <a href="#" {{action highlight this}}>{{capitalizeFirst name}} {{#if isWinner}}<i class="flaticon-football117"></i>{{/if}}</a>
    </li>
  {{/each}}
</ul>

<div class="row">
  <div class="col-md-9 col-md-push-3">
    <table class="table tourney-table">
      <thead>
        <tr>
          <th>Team</th>
          <th title="Average Rating">AVR</th>
          <th title="Matches Played">MP</th>
          <th title="Won">W</th>
          <th title="Drawn">D</th>
          <th title="Lost">L</th>
          <th title="Goals For">GF</th>
          <th title="Goals Against">GA</th>
          <th title="Goal Difference">±</th>
          <th title="Points">Pts</th>
        </tr>
      </thead>
      <tbody>
        {{#each teams itemController='team'}}
          <tr {{bind-attr class="isHighlighted:success"}}>
            <th>{{capitalizeFirst name}} {{#if isWinner}}<i class="flaticon-football117"></i>{{/if}}</th>
            <td><span class="label label-info">{{ratingAvg}}</span></td>
            <td>{{matchesPlayed}}</td>
            <td>{{matchesWon}}</td>
            <td>{{matchesDraw}}</td>
            <td>{{matchesLost}}</td>
            <td>{{goalsFor}}</td>
            <td>{{goalsAgainst}}</td>
            <td>{{goalsDiff}}</td>
            <td>{{points}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-6">
        <h3>Matches</h3>
        <table class="table table-striped matches-table">
          <tbody>
            {{#each matches itemController='match'}}
              {{!fixme}}
              {{#if home.name}}
              {{#if away.name}}
                <tr {{bind-attr class="isHighlighted:text-success"}}>
                  <td>
                    {{#if winHome}}
                      <b>{{capitalizeFirst home.name}}</b>
                    {{else}}
                      {{capitalizeFirst home.name}}
                    {{/if}}
                  </td>
                  <td>
                    {{goalsHome}} : {{goalsAway}}
                  </td>
                  <td>
                    {{#if winAway}}
                      <b>{{capitalizeFirst away.name}}</b>
                    {{else}}
                      {{capitalizeFirst away.name}}
                    {{/if}}
                  </td>
                </tr>
              {{/if}}
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3>Shooters</h3>
        <table class="table table-striped shooters-table">
          <tbody>
            {{#each goalsScoredSorted}}
              <tr>
                {{!@TODO: define helper eachIndexed like here http://mozmonkey.com/2014/03/ember-getting-the-index-in-each-loops/}}
                <td>{{add _view.contentIndex 1}}</td>
                <td>{{#link-to "players.player" player}}{{player.name}}{{/link-to}}</td>
                <td><span class="label label-info">{{player.ratingAvg}}</span></td>
                <td>
                  {{#each goals}}
                    {{!@TODO: show details onhover: match/minute...}}
                    <i class="flaticon-football28"></i>
                  {{/each}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-pull-9">
    {{#each teams itemController="team"}}
      <div {{bind-attr class=":panel :panel-default isHighlighted:panel-success"}}>
        <div class="panel-heading">
          <span class="pull-right">
            <span class="badge hide">{{teamRank}}</span> {{#if isWinner}}<i class="flaticon-football117 pull-right"></i>{{/if}}
          </span>
          <h3 class="panel-title">{{capitalizeFirst name}}</h3>
        </div>
        <ul class="panel-body list-unstyled">
          {{#each playersSortedByRank itemController='PlayersPlayer'}}
            <li>
              <span class="label label-warning pull-right">{{ratingAvg}}</span>
              {{#link-to "players.player" this class="label label-info"}}{{truncate name 14}}{{/link-to}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>
