<div class="row players-list">
  {{#each itemController='player'}}
    <div class="col-sm-4 players-item">
      <div class="media">
        {{#link-to "player" this class="pull-left"}}
          {{#if photo}}
            <img src="{{unbound photo}}" width="60px" height="60px" alt="photo" class="media-object img-thumbnail">
          {{else}}
            <img src="{{unbound gravatar}}?size=60px" alt="photo" class="media-object img-thumbnail">
          {{/if}}
        {{/link-to}}
        <div class="media-body">
          <h3 class="media-heading">
            {{#link-to "player" this}}
              {{name}} <span class="label label-primary">{{rating}}</span>
            {{/link-to}}
          </h3>
          <ul class="list-unstyled">
            <li>
              {{#if isVoted}}
                <i class="fa fa-check-circle"></i> Voted
                {{#if isLocked}}{{else}}
                  ({{#link-to 'voting.player' this}}Re-Vote{{/link-to}})
                {{/if}}
              {{else}}
                {{#link-to 'voting.player' this class="text-danger"}}<i class="fa fa-exclamation-circle"></i> Vote Now!{{/link-to}}
              {{/if}}
            </li>
            {{!--
            {{#if isGoingTo}}
              <li>
                <b class="text-success">+1</b> on {{#link-to 'tourneys.new'}}Upcoming Tourney{{/link-to}}
              </li>
            {{/if}}
             --}}
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
</div>
